.ReservationButton {
    text-decoration: none;
    color: black;
}

.reservar {
    border-radius: 15px;
    background-color: lawngreen;
}

.button {
    text-decoration: none;
    margin-top: 5px;
}

.my-container {
    margin: 25px;
}

.my-table {
    margin-bottom: 100px;
    border: 1px solid black;
    margin-top: 20px;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.loader-container img {
    width: 150px;
}

.confirme {
    width: 500px !important;
    border-radius: 15px !important;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-al {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn-clm-al {
    display: flex !important;
    justify-content: center !important;
    cursor: pointer !important;
}

.option-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.half-percent {
    top: 10px !important;      /* começa do topo */
    left: 10px !important;
    right: 0 !important;
    width: 99vw !important;
    height: 50vh !important;  /* metade da tela */
    margin: 0 !important;
    border-radius: 0 !important; /* opcional */
}

.simple-btn {
    border: none !important;
    background: none !important;
    cursor: pointer;
}

.my-modal {
    top: 50% !important;
    transform: translateY(-50%) !important;
    max-height: 90% !important;
}

/* .half-percent foo {
    width: 100vw;
    height: 100vh;
} */


#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
}


.between-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-search-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid black !important;
    padding: 10px;
    border-radius: 10px;
}

.user-search-panel .search-field {
    width: 100%;
}